project:
  type: website
  output-dir: docs

website:
  title: "course"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme:
      - journal
      - brand
    css: css/styles.css
    toc: true
    html-math-method: mathjax
    mathjax-url: https://cdn.bootcdn.net/ajax/libs/mathjax/3.2.2/es5/tex-mml-chtml.js

execute:
  cache: true
  freeze: auto

