project:
  type: website
  output-dir: docs

website:
  title: "course"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme:
      - journal
      - brand
    css: css/styles.css
    toc: true

execute:
  cache: true
  freeze: auto

